/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /*--sp-dark: black;
    --sp-call-to-a: #080b12;
    --sp-main-bg: #141922;
    --sp-light: #ffffff;
    --sp-sec-bg: #282828;
    --sp-secondary: #74767b;
    --sp-medium: #a3a3a3;*/
}


/*UTILITIES*/

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-end{
    justify-content: end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-content: center;
}

.f-column {
    flex-direction: column;
}

.p-5{
    padding: 5px;
}
/*DEBUG*/

.debug .wrapper{
    background-color: rgba(186, 43, 226, 0.509);
}

.debug .left{
    background-color: rgba(128, 128, 128, 0.53);
}

.debug .right{
    background-color: rgba(39, 157, 26, 0.53);
}

.debug .banner{
    background-color: rgba(0, 0, 0, 0.429);
}

.debug #site_footer{
    background-color: rgba(28, 28, 28, 0.854);
}

/*mobile first*/

.wrapper{
    height: 100vh;
    margin: auto;
}

#site_main{
    height: calc(100% - 80px);
}

#site_footer{
    height: 5.5rem;
}

#sidebar{
    width: 50px;
}

main .right{
    width: calc(100% - 50px);
    height: 100%;
    overflow-x: hidden;
}

.albums{
    overflow-y: auto;
}

.banner{
    height: 5.5rem;
}

#upgrade{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0 30px;
    height: 50%;
    line-height: 2.5;
    text-decoration: none;
}

.wrapper a{
    text-transform: capitalize;
}

.navbar a{
    padding: 20px 10px;
    text-transform: capitalize;
}

img{
    width:100%;
    aspect-ratio: 1/1;
}

.p_artist img{
    border-radius: 50%;
}

div [class^="col-"]{
    padding: 10px 5px;
}

h1, h4{
    padding-left: 20px;
    padding-top: 10px;
}

.col-6{
    width: 50%;;
}