/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

:root{
    --sp-dark: black;
    --sp-call-to-a: #080b12;
    --sp-main-bg: #141922;
    --sp-light: #ffffff;
    --sp-sec-bg: #282828;
    --sp-secondary: #74767b;
    --sp-medium: #a3a3a3;
}


/*UTILITIES*/

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-end{
    justify-content: end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-content: center;
}

.align-item{
    align-items: center;
}

.f-column {
    flex-direction: column;
}

.p-5{
    padding: 5px;
}

.relative{
    position: relative;
}

.fixed{
    position: fixed;
    top:0;
    right: 0;
}

.index{
    z-index: 1;
}
/*DEBUG*/

.debug .wrapper{
    background-color: rgba(186, 43, 226, 0.509);
}

.debug .left{
    background-color: rgba(128, 128, 128, 0.53);
}

.debug .right{
    background-color: rgba(39, 157, 26, 0.53);
}

.debug .banner{
    background-color: rgba(0, 0, 0, 0.429);
}

.debug #site_footer{
    background-color: rgba(28, 28, 28, 0.854);
}

/*mobile first*/

.wrapper{
    height: 100vh;
    margin: auto;
}

#site_main{
    height: calc(100% - 80px);
    background-color: var(--sp-main-bg);
}

#site_footer{
    height: 5.5rem;
    background-color: var(--sp-sec-bg);
}

#sidebar{
    width: 50px;
    background-color: var(--sp-dark);
    padding: 10px;
}

.download{
    width: 90%;
}

.profile{
    background-color: var(--sp-medium);
    border-radius: 50%;
}



main .right{
    width: calc(100% - 50px);
    height: 100%;
    overflow-x: hidden;
    padding-top: 100px;
}

.albums{
    overflow-y: auto;
}

.banner{
    height: 5.5rem;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.492);
}

#upgrade{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0 30px;
    height: 50%;
    line-height: 2.5;
    text-decoration: none;
}

.wrapper a{
    text-transform: capitalize;
    text-decoration: none;
    color:var(--sp-call-to-a);
}

.navbar a{
    padding: 20px 10px;
    text-transform: capitalize;
    color: var(--sp-secondary);
}

img{
    width:100%;
    aspect-ratio: 1/1;
}

.p_artist img{
    border-radius: 50%;
}

div [class^="col-"]{
    padding: 10px 5px;
}

h1, h4{
    padding-left: 20px;
    padding-top: 10px;
}

h5, h1{
    color: var(--sp-light);
}

h4, h6{
    color: var(--sp-secondary)
}
.col-6{
    width: 50%;;
}
.media_left{
    padding: 10px;
    width:30%;
}

.media_center{
    width: 40%;
}

.media_right{
    width:30%;
    justify-content: end;
}

#site_footer .media_left img{
    width: 35%;
    padding: 10px;
}

#site_footer .icons{
    padding:20px;
    color:var(--sp-medium);
}

#site_footer .commands i{
    padding: 10px;
    color:white;
}


.media_right i{
    padding: 5px;
    color: var(--sp-light)
}

.now, .end{
    color:var(--sp-medium);
}

.bar{
    border-radius:30px;
    background-color: var(--sp-secondary);
    height: 4px;
    width: 150px;
    margin: 10px;
}

.volume{
    border-radius:30px;
    background-color: var(--sp-secondary);
    height: 4px;
    width: 100px;
    margin: 10px;
}

.beginning{
    border-radius: 30px;
    background-color: var(--sp-medium);
    height: 4px;
    width: 20%;
}
/*@media screen and (min-width: 576px) {
    #sidebar{
        width: 230px;
    }

    #site_main{
        width: calc(100% - 230px);
        height: 100%;
    }

 
@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1200px) {
    
} */